In [39]:
#Our task is to predict whether a bank currency note is 
#authentic or not based upon four attributes of the note 
#i.e. skewness of the wavelet transformed image, variance of the image, 
#entropy of the image, and curtosis of the image. 
#This is a binary classification problem and we will use SVM algorithm to solve this problem. 
#The rest of the section consists of standard machine learning steps.

In [56]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

In [57]:
ip = pd.read_csv("Desktop/neural data/1497 input.csv")

In [58]:
ip.head()

     a    b     c       d      e     f
0  0.0  0.0  13.2  13.230  13.22  13.2
1  0.0  0.0  13.2  13.228  13.22  13.2
2  0.0  0.0  13.3  13.228  13.22  13.2
3  0.0  0.0  13.2  13.228  13.22  13.2
4  0.0  0.0  13.3  13.230  13.22  13.2

In [59]:
op = pd.read_csv("Desktop/neural data/1497 output.csv")

In [60]:
op.head()

      a     b     c     d     e     f     g
0  13.2  13.2  13.2  13.2  13.2  13.2  13.2
1  13.2  13.2  13.2  13.2  13.2  13.2  13.2
2  13.2  13.2  13.2  13.2  13.2  13.2  13.2
3  13.2  13.2  13.2  13.2  13.2  13.2  13.2
4  13.2  13.2  13.2  13.2  13.2  13.2  13.2

In [61]:
X = ip

In [62]:
X

         a    b     c       d      e     f
0      0.0  0.0  13.2  13.230  13.22  13.2
1      0.0  0.0  13.2  13.228  13.22  13.2
2      0.0  0.0  13.3  13.228  13.22  13.2
3      0.0  0.0  13.2  13.228  13.22  13.2
4      0.0  0.0  13.3  13.230  13.22  13.2
...    ...  ...   ...     ...    ...   ...
51151  0.0  0.0  13.2  13.169  13.23  13.2
51152  0.0  0.0  13.2  13.167  13.23  13.2
51153  0.0  0.0  13.2  13.170  13.24  13.2
51154  0.0  0.0  13.2  13.172  13.23  13.2
51155  0.0  0.0  13.2  13.170  13.23  13.2

[51156 rows x 6 columns]

In [63]:
y = op

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10,random_state=99)

In [65]:
from sklearn.preprocessing import StandardScaler

In [66]:
sc_S = StandardScaler()
sc_t = StandardScaler()
S2 = sc_S.fit_transform(X_train)
t2 = sc_t.fit_transform(y_train)

In [67]:
regressor = SVR(kernel = 'rbf')

In [68]:
regressor.fit(X_train,y_train)

ValueError: bad input shape (46040, 7)

In [54]:
pred = regressor.predict(X_test)

NotFittedError: This SVR instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [407]:
pred

array([[10.67892531,  9.91470925, 28.73160315, 13.9526391 , 35.64878026,
        18.94423126, 16.47352742],
       [11.29149175,  9.96013194, 26.88971903, 13.89843368, 32.3183017 ,
        17.52085152, 15.91123934],
       [11.27925083,  9.95042316, 26.90292319, 13.91018526, 32.35621344,
        17.54201503, 15.93498335],
       [11.27051327,  9.94153803, 26.91423204, 13.91937811, 32.37503891,
        17.55947786, 15.94047966],
       [11.26501182,  9.94983604, 26.87247963, 13.91440707, 32.37349923,
        17.55787982, 15.99560092],
       [13.07930589, 10.85908967, 14.38602282, 13.51437532, 14.43524516,
        13.40501723, 13.81904511],
       [13.08930233, 10.89423707, 14.26693789, 13.50294716, 14.34137477,
        13.36727167, 13.87550757],
       [12.86036616, 10.52803299, 15.93961456, 13.54728004, 16.39417209,
        13.74689286, 14.27027097],
       [11.2770336 ,  9.95070095, 26.8922196 , 13.90989405, 32.34909682,
        17.5446963 , 15.94188937],
       [12.02691259, 10.07331208, 23.11917547, 13.77088676, 26.41942363,
        15.65228651, 15.43024815],
       [11.27927732,  9.95786421, 26.83267344, 13.90949167, 32.32528708,
        17.51907181, 16.01107249],
       [10.62543623,  9.87618569, 29.36952052, 14.04588636, 36.58201007,
        19.0862739 , 16.56154356],
       [13.0859239 , 10.89496844, 14.25198748, 13.50261188, 14.33518439,
        13.37079216, 13.88922176],
       [11.26252953,  9.94845252, 26.85302279, 13.91348466, 32.3399384 ,
        17.56398919, 15.9857801 ],
       [11.1271904 ,  9.94179125, 27.32696287, 13.89778056, 33.07195892,
        17.92936346, 15.95688648],
       [11.99439144, 10.02343288, 23.67136778, 13.79308145, 27.03655992,
        15.8050171 , 15.26775262],
       [10.67496795,  9.89199468, 28.60420501, 13.94853536, 35.50870405,
        18.93369552, 16.51162904],
       [12.05593348, 10.06969335, 23.05330612, 13.76616514, 26.26675617,
        15.58922217, 15.38363427],
       [10.61549586,  9.89345811, 28.51211738, 13.97014026, 35.6021267 ,
        19.00437719, 16.74500165],
       [13.10017547, 10.74709447, 14.46384688, 13.41861367, 14.39175393,
        13.3277737 , 13.82330846],
       [11.27836228,  9.95018172, 26.97088495, 13.92045214, 32.47294935,
        17.5396637 , 15.97081618],
       [11.27450539,  9.95649999, 26.83106538, 13.90110186, 32.27558246,
        17.54625377, 15.94530924],
       [12.71499009, 10.34545071, 17.09641583, 13.5513802 , 17.90936336,
        14.01781894, 14.52738647],
       [10.6320997 ,  9.9013789 , 28.51276479, 13.96019351, 35.56522124,
        18.98067155, 16.69837721],
       [12.88892875, 10.53552001, 15.8953277 , 13.5391808 , 16.30306948,
        13.69394794, 14.22814275],
       [11.24985146,  9.94325625, 27.03883269, 13.93555879, 32.63370129,
        17.58956779, 16.04621546],
       [13.11727908, 12.1034536 , 13.75788339, 13.5811187 , 14.10379039,
        13.37129859, 13.90141069],
       [12.9513651 , 10.5919856 , 15.3277527 , 13.4804589 , 15.60453304,
        13.56302569, 14.17158936],
       [11.26179782,  9.95649123, 26.81141194, 13.9057959 , 32.3094171 ,
        17.55885407, 16.00913518],
       [11.25250264,  9.96405822, 26.82553774, 13.89987404, 32.3482427 ,
        17.58064765, 16.01958024],
       [11.97449837, 10.01295267, 23.69378088, 13.79949176, 27.09171218,
        15.84908765, 15.28204373],
       [10.68811943,  9.89110848, 28.49532886, 13.98059202, 35.44153049,
        18.86657624, 16.62320345],
       [12.70596906, 10.34044822, 17.22162639, 13.54148294, 18.05698513,
        14.02622835, 14.56037991],
       [10.65908684,  9.91048276, 28.80656729, 13.96674616, 35.7839592 ,
        18.98780445, 16.50291048],
       [12.02572404, 10.07067368, 23.15057506, 13.77679415, 26.44902539,
        15.65761401, 15.42138346],
       [11.05040471,  9.92544307, 27.60707117, 13.9267908 , 33.56316725,
        18.10015391, 16.05519601],
       [13.08031434, 10.90002377, 14.22146326, 13.49827509, 14.3277659 ,
        13.37198765, 13.92779746],
       [13.09272939, 10.90816783, 14.1413948 , 13.49075799, 14.2085696 ,
        13.36234762, 13.87167176],
       [11.42195645,  9.98627822, 26.2189658 , 13.85342116, 31.23119898,
        17.20758742, 15.76482147],
       [13.07456921, 10.91163303, 14.11119859, 13.4923807 , 14.25555116,
        13.37550885, 13.97425466],
       [11.29019979,  9.95792551, 26.76517714, 13.90286221, 32.2066247 ,
        17.491895  , 15.99146388],
       [11.96513154,  9.97680265, 23.63973581, 13.88700216, 27.06627536,
        15.82065965, 15.3974395 ],
       [11.07280524,  9.93877524, 27.567002  , 13.90424393, 33.43421407,
        18.06913059, 15.96886913],
       [11.05148084,  9.92648046, 27.51472496, 13.91849798, 33.40397841,
        18.10948042, 15.9930321 ],
       [11.27429047,  9.95412559, 26.89256574, 13.91061815, 32.38682573,
        17.54236342, 15.98234694],
       [12.79186963, 10.4420106 , 16.4923995 , 13.56183801, 17.10447769,
        13.87534972, 14.38116994],
       [11.29085455,  9.87376786, 27.08971078, 14.04780033, 32.51632259,
        17.50581306, 15.9249873 ],
       [12.03591012, 10.08826597, 22.88452835, 13.73942476, 26.12359069,
        15.61772537, 15.43728623],
       [12.85358955, 10.52731135, 15.92434951, 13.54930043, 16.39809886,
        13.75511687, 14.29552255],
       [12.02871247, 10.06672597, 23.17361795, 13.77939221, 26.45404823,
        15.65770181, 15.39547594],
       [10.58425053,  9.86189868, 28.6952624 , 14.0157355 , 35.88812568,
        19.07625118, 16.78504421],
       [11.25942247,  9.94589146, 26.87270648, 13.92075143, 32.36667166,
        17.5723931 , 15.98476959]])

In [408]:
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))

test_set_r2 = r2_score(y_test, pred)

In [409]:
print(test_set_rmse)

0.2466114212458

In [410]:
print(test_set_r2)

0.9328466359527977